<nb-card>
  <nb-card-header >{{title}}</nb-card-header>

  <nb-card-body>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-8">
        <input type="text" required nbInput fullWidth class="from-control" [(ngModel)]="name" placeholder="Ship Name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Code</label>
      <div class="col-sm-8">
        <input type="text" pattern="[A-Z]{4}-\d{4}-[A-Z]{1}\d{1}" required nbInput fullWidth class="from-control" [(ngModel)]="code" placeholder="AAAA-1111-A1">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Length (m.)</label>
      <div class="col-sm-8">
        <input type="number" required nbInput fullWidth class="from-control" [(ngModel)]="lengthInMetres" placeholder="125.50">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Width (m.)</label>
      <div class="col-sm-8">
        <input type="number" required nbInput fullWidth class="from-control" [(ngModel)]="widthInMetres" placeholder="15.00">
      </div>
    </div>

    <button nbButton status="primary" (click)="addShip()" *ngIf="ship.id==0" [disabled]="!name || !code || !lengthInMetres || !widthInMetres">
      <nb-icon icon="plus-circle-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
      Add
    </button>

    <button nbButton status="primary" (click)="updateShip()" *ngIf="ship.id!=0" [disabled]="!name || !code || !lengthInMetres || !widthInMetres">
      <nb-icon icon="save-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
      Update
    </button>

    <button nbButton outline (click)="close()"><nb-icon icon="close" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Close</button>
  </nb-card-body>
</nb-card>